.signup {
  background-image: url("../public/Photo.png");
  background-size: cover;

}
body{
  background-image: url('https://static.vecteezy.com/system/resources/thumbnails/007/937/895/small/modern-low-poly-light-blue-triangle-shapes-background-free-vector.jpg');
  background-size: cover;
}

.mbody {
  background: linear-gradient(to bottom, skyblue 40%, white 40%);
}

.life li {
  list-style: none;
  text-align: center;
}

.hdfc li {
  list-style: none;
  text-align: center;
}

.save {
  background-color: #12B5B0;
  width: 214px;
  height: 58px;
  border-radius: 20px;
  margin-left: 250px;
  color: #fff;
}
.ebody{
  display: flex;
  height: 500px;
}